.blackbox {
  position: relative;
  display: inline-table;
  margin-top: 100px;
  margin-left: -360px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.849);
  box-shadow: 2px 2px 8px rgb(60, 60, 60);
  padding: 10 10px 10px 10px;
  color: white;
  width: 160%;
  height: 81vh;
}

/* .content {
  display: table-cell;
  margin: 0;
  background: transparent;
  position: absolute;
  top: 95%;
  left: 20%;
  margin-right: -50%;
  padding-top: 10px;
  padding-bottom: 10px;
} */
.mapImage {
  position: absolute;

  width: 70vw !important;
  height: 100% !important;
}
.bottomliner {
  position: absolute !important;
  bottom: -510px !important;
  left: 20px !important;
  width: 100% !important;
  height: 100% !important;
}

@media only screen and (max-width: 600px) {
  .blackbox {
    position: relative;
    display: inline-table;
    margin-top: 25px;
    margin-left: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.849);
    box-shadow: 2px 2px 8px rgb(60, 60, 60);
    padding: 10px 10px 50px 10px;
    color: white;
    width: 90%;
    height: 50vh;
  }

  .bottomliner {
    position: absolute !important;
    bottom: -200px !important;
    left: 20px !important;
    width: 100% !important;
    height: 100% !important;
  }
}
