.input {
  width: 100%;

  margin-bottom: 12px;
  font-size: 24px;
}

.button {
  font-size: 24px;
  background: #000000;
  color: #ffffff;
  border: none;
  border-radius: 2px;

  width: 100%;
  padding: 12px;

  margin-bottom: 24px;
}

.grouped {
  position: absolute;
  top: 150px;
  margin: auto 0 auto;
  display: flex;
  margin-top: 50%;
  justify-content: center;
  align-items: center;
}
