.textCenter {
  position: fixed;
  color: white;
  text-align: center;
  z-index: 500;
}
.textbox {
  position: fixed;
  top: 95px;
  left: 5;
}
.wrapper {
  background-color: black;
}
/* .content {
  padding: 10px;
  width: 100vw;
  position: absolute;
  left: 0;
  padding-bottom: 50px;
  margin-left: 0;
  color: white;
} */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: auto;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  color: white;
  background-color: #3f51b5;
  z-index: 99;
  text-align: center;
}

.footerLogo {
  position: static;
  bottom: 0;
  height: 56px;
  width: 72px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  color: white;
}

.clink {
  color: blue;
}

.nav-link {
  border-bottom: 1px solid black !important;
}

.navbar {
  z-index: 100;
}

.bgText {
  position: relative;
  margin-top: 200px;
  margin-left: 150px;
  padding-left: 20px;
  font-weight: 900;
  z-index: 99;
  font-size: 64px;
  color: white;
  border-color: black;
  shadow: black;
  border-radius: 13px;
  background: transparent;
}

.contentWrapper {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#pagebg {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -20;
}

@media only screen and (max-width: 600px) {
  .Carousel {
    position: absolute;
    display: block;
    top: 0;
    left: -100px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
  }
  .bgText {
    position: relative;
    margin-top: 50px;
    margin-left: 0px;
    padding-left: 5px;
    font-weight: 900;
    line-height: 60px;
    z-index: 99;
    font-size: 64px;
    color: white;
    border-color: black;
    shadow: black;
    border-radius: 13px;
    background: transparent;
  }
}
